.testimonials {
  @media (max-width: 767px) {
    
    padding-bottom: 26rem !important;
  }
  @media (max-width: 480px) {
    
    padding-bottom: 17rem !important;
  }
  .content {
    .info {
      display: flex;
      align-items: center;
      gap: 1rem;
      img {
        width: 5rem;
        border-radius: 50%;
      }
      .text {
        h3 {
          font-size: $h5-font-size;
        }
        p {
          margin-bottom: 0;
          font-size: $smaller-font-size;
        }
      }
    }
    .quote-icon {
      display: block;
      padding: 0.5rem 1rem;
      width: fit-content;
    }
    .history {
      color: $title-color;
      font-weight: $font-bold;
    }
    span {
      box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
      color: $primary;
    }
    .controls {
      span {
        display: inline-block;
        width: 2.125rem;
        height: 2.25rem;
        text-align: center;
        line-height: 2.25;
        cursor: pointer;
      }
    }
    @media (max-width: 1399px) {
      padding-right: 3rem;
    }
    @media (max-width: 991px) {
      padding-right: 6rem;
    }
    @media (max-width: 767px) {
      padding-right: 0rem;
      text-align: center;
      .quote-icon {
        margin-left: auto;
        margin-right: auto;
      }
      .info {
        justify-content: center;
      }
    }
  }
  .image {
    position: relative;
    .square {
      @media (min-width: 991px) {
        margin-left: auto;
      }
      @media (max-width: 991px) {
        position: absolute;
        top: 0;
        right: 0;
      }
      @media (max-width: 767px) {
        right: 50%;
        transform: translateX(50%);
      }
    }
    img {
      max-width: 28.125rem;
      position: absolute;
      top: 15%;
      right: 15%;
      @media (max-width: 1199px) {
        max-width: 25rem;
        max-height: 25rem;
      }
      @media (max-width: 991px) {
        top: 1rem;
        right: 1rem;
      }
      @media (max-width: 767px) {
        left: calc(50% - 1rem);
        transform: translateX(-50%);
        top: 1rem;
      }
      @media (max-width: 480px) {
        width: 16rem;
        height: 16rem;
      }
    }
  }
}
