$primary: #ffb566;
$white: #fff;

$btn-color: #2b2b2b;
$btn-color-alt: #363636;

$title-color: #262626;
$text-color: #595959;
$text-light-color: #8c8c8c;

$border-color: #f0f0f0;

$h1-font-size: 2.5rem;
$h2-font-size: 2.25rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$p-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.875rem;
$smaller-font-size: 0.813rem;

$font-medium: 500;
$font-bold: 700;

$transition: 0.3s;
